! After update call `xrdb -merge $HOME/.Xresources`

! Perl bindings for copy, paste, text select, and url-select {{{ ---------------
! Located at `/usr/lib/urxvt/perl/
! Copy/paste and url select require xsel
! TODO: Switch to xclip
URxvt.perl-lib: /usr/lib/urxvt/perl
URxvt.perl-ext-common: clipboard,font-size,matcher,url-select,keyboard-select

! }}} --------------------------------------------------------------------------
! Keyboard bindings {{{ --------------------------------------------------------

! Copy paste
URxvt.keysym.C-C:    perl:clipboard:copy
URxvt.keysym.C-V:    perl:clipboard:paste
URxvt.copyCommand: xsel --selection --input
URxvt.pasteCommand: xsel --selection --output

! Url select
URxvt.keysym.C-i: perl:url-select:select_next
URxvt.keysym.C-s: perl:keyboard-select:activate
URxvt*urlLauncher: /usr/local/bin/firefox
URxvt*matcher.button: 1

! Fonts
URxvt.keysym.C-S-plus:  font-size:increase
URxvt.keysym.C-minus:   font-size:decrease
URxvt.keysym.C-0:       font-size:reset

! }}}
! Fonts {{{ --------------------------------------------------------

! Powerline fonts for things terminus does not have
! http://powerline.readthedocs.io/en/master/tips-and-tricks.html
! it seems that even number fonts create large space inbetween lines sometimes
! urxvt*font: xft:terminus:size=11,xft:Inconsolata\ for\ Powerline:size=11
!
! Go Mono
urxvt*font: xft:Go\ Mono:size=11,xft:Inconsolata\ for\ Powerline:size=11

! Go mono bold
! urxvt*font: xft:Go\ Mono:size=11,xft:Inconsolata\ for\ Powerline:size=11

! terminus
! urxvt*font: xft:terminus:size=11,xft:Inconsolata\ for\ Powerline:size=11
! }}}
! Colors {{{ -------------------------------------------------------------------

! Colors I have been using for a long time
URxvt*foreground:   #c5c8c6
URxvt*background:   #000000
!URxvt*cursorColor:  #aeafad

! For new vim theme `simple`
URxvt*cursorColor:  #ecebec

! For some reason this made my cursor pink if I uncomment it. 
!
! I kind of like 
! URxvt*cursorColor:#aeafad 
!
! These are ANSI Escape for SGR colors 
! https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
! These are ANSI Escape for SGR colors # https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

URxvt*color0:       #000000
URxvt*color1:       #FF604D
URxvt*color2:       #778900
URxvt*color3:       #ECB130
URxvt*color4:       #5CB2FC
URxvt*color5:       #682a9b
URxvt*color6:       #2b6651
URxvt*color7:       #929593
URxvt*color8:       #666666
URxvt*color9:       #cc6666
URxvt*color10:      #b5bd68
URxvt*color11:	    #f0c674
URxvt*color12:      #81a2be
URxvt*color13:	    #b294bb
URxvt*color14:	    #8abeb7
URxvt*color15:	    #ecebec

! }}}
! Misc {{{ ---------------------------------------------------------------------

URxvt*scrollBar:    False
URxvt*saveLines: 10000

! DPI
! Xft.dpi: 110
! Xft.dpi: 220

! }}}
! Unkown {{{ -------------------------------------------------------------------
URxvt*secondaryScreen: 1
URxvt*secondaryScroll: 0

! Do not use iso14755 for entering unicode text
! http://www.cl.cam.ac.uk/~mgk25/volatile/ISO-14755.pdf
URxvt.iso14755: False


! }}}

Xft.dpi: 96
!Xft.dpi: 192

! vim - Fold on opening for organization
! vim:foldmethod=marker:foldlevel=0
